# Python
__pycache__/
*.py[cod]
*$py.class

# PyTorch
*.pth
*.pt
*.out

# Data
data/raw/
data/processed/
*.pkl
*.npy
*.npz

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
.DS_Store
